<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itbaizhan.travel_ai_service.mapper.AiMessagesMapper">

    <resultMap id="BaseResultMap" type="com.itbaizhan.travelcommon.pojo.AiMessages">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="tokensUsed" column="tokens_used" jdbcType="INTEGER"/>
            <result property="processingTime" column="processing_time" jdbcType="INTEGER"/>
            <result property="confidenceScore" column="confidence_score" jdbcType="DECIMAL"/>
            <result property="feedback" column="feedback" jdbcType="OTHER"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,conversation_id,message_type,
        content,content_type,metadata,
        attachments,tokens_used,processing_time,
        confidence_score,feedback,created_at
    </sql>

    <update id="deleteByAiMessagesDetail" parameterType="string">
        update ai_message_detail set is_del = 1 WHERE message_id = #{messageId}
    </update>
</mapper>
